{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Matériel{% endblock %}

{% block body %}

<!-- MAIN CONTENT-->

        <!-- PAGE CONTAINER-->

                                <!-- START WHITE BACKGROUND-->
                                    <div class="map-data m-b-40">
                                                              <h3 class="title-3 m-b-30">
                                                                  <i class="fa-solid fa-dumbbell"></i><strong>Ajouter</strong> Materiel

                                                              </h3>

                                        <div class="card">
                                           
                                            <div class="card-body card-block">
                                                {{ include('materiel/_form.html.twig') }}



                                        </div>
                                    </div>



                                <!-- END WHITE BACKGROUND-->


            <!-- END MAIN CONTENT-->

{% endblock %}
