{% extends 'baseBack.html.twig' %} 

{% block title %}EnergyBox | Promotion {% endblock %}

{% block body %}
<div class="page-wrapper">
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- START WHITE BACKGROUND-->
                                <div class="map-data m-b-40">
                                 <h1>créer une nouvelle promotion</h1>

                             {{ include('promotion/_form.html.twig') }}

                            <br>
<button type="button" class="btn btn-danger" >
    <a href="{{ path('app_promotion_index') }}" style="color:white;">
liste des promotions</a></button>
<br> <br> 

                                </div>
                                <!-- END WHITE BACKGROUND-->
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
        </div>

    </div>
   
   
{% endblock %}

