{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Planning{% endblock %}

{% block body%}
<!-- MAIN CONTENT-->
    <div class="page-wrapper">
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- START WHITE BACKGROUND-->
                                <div class="map-data m-b-40">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Ajouter</strong> Activité
                                        </div>
                                        <div class="card-body card-block">
                                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="text-input" class=" form-control-label">Nom</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="texte" name="nomActivite" placeholder="Nom Activité" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="text-input" class=" form-control-label">Duree</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="texte" name="dureeActivite" placeholder="Durée Activité" class="form-control">
                                                        <small class="form-text text-muted">Veuillez saisir la durée de l'activité en minutes</small>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="select" class=" form-control-label">Tenue Recommendée</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <select name="tenue" id="select" class="form-control">
                                                            <option value="0">Select Tenue Recommendation</option>
                                                            <option value="1">Oui</option>
                                                            <option value="2">Non</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="select" class=" form-control-label">Select Difficulté</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <select name="diff" id="select" class="form-control">
                                                            <option value="0">Select Difficulté</option>
                                                            <option value="1">Facile</option>
                                                            <option value="2">Moyenne</option>
                                                            <option value="3">Difficile</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="file-input" class=" form-control-label">Image</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="file" id="file-input" name="imageActivite" class="form-control-file">
                                                        <small class="form-text text-muted">Veuillez saisir une image valide</small>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="text-input" class=" form-control-label">Description</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <textarea class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                
                                                
                                                
                                                
                                            </form>
                                        </div>
                                        <div align="center" class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                Ajouter
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                 Annuler
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- END WHITE BACKGROUND-->
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
        </div>

    </div>
{% endblock %}
