<button>
    <form method="post" action="{{ path('app_activite_crud_delete', {'id': activite.id}) }}" onsubmit="return confirm('Êtes vous sûr de supprimer cet activité ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.id) }}">
        <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#staticModal" >Supprimer</button>
    </form>
</button>