{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Planning{% endblock %}

{% block body%}
<!-- MAIN CONTENT-->
    <div class="page-wrapper">
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- START WHITE BACKGROUND-->
                                <div class="map-data m-b-40">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Ajouter</strong> Cours
                                        </div>
                                        <div class="card-body card-block">
                                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="text-input" class=" form-control-label">Nom</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="texte" name="nomCours" placeholder="Nom Cours" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="text-input" class=" form-control-label">Prix</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="texte" name="prixCours" placeholder="Prix Cours" class="form-control">
                                                        <small class="form-text text-muted">Veuillez saisir le prix en DT</small>
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <div align="center" class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                Ajouter
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                 Annuler
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Affectation</strong> des Cours & Activités
                                        </div>
                                        <div class="card-body card-block">
                                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="select" class=" form-control-label">Cours</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <select name="cours" id="select" class="form-control">
                                                            <option value="0">Select Cours</option>
                                                            <option value="1">Aerobique</option>
                                                            <option value="2">CrossFit</option>
                                                            <option value="3">Musculation</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="select" class=" form-control-label">Activités</label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <select name="activites" id="select" class="form-control">
                                                            <option value="0">Select Difficulté</option>
                                                            <option value="1">Push Ups</option>
                                                            <option value="2">Abs</option>
                                                            <option value="3">Running</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <div align="center" class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                Affecter
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                 Annuler
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- END WHITE BACKGROUND-->
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
        </div>

    </div>
{% endblock %}
