{% extends 'baseBack.html.twig' %}

{% block title %}EnergyBox | Matériel{% endblock %}

{% block body %}

<!-- MAIN CONTENT-->
    <!-- PAGE CONTAINER-->
  
                            <!-- START WHITE BACKGROUND-->
                                <div class="map-data m-b-40">
                                     <h3 class="title-3 m-b-30">
                                              <i class="fa-solid fa-file-invoice"></i>  Modifier Charge <strong>{{ charge.id }}</strong>
                                    </h3>          
                                                  

                                        
                                        
                                        <div align="center" class="card-footer">
                                            {{ include('charge/_form.html.twig', {'button_label': 'Update'}) }}
                                        </div>

                                        {{ include('charge/_delete_form.html.twig') }}
                                                                            </div>




                        
                                                            <!-- END WHITE BACKGROUND-->




                 
            <!-- END MAIN CONTENT-->

{% endblock %}
