{% extends 'baseBack.html.twig' %}
{% block title %}EnergyBox | Charge{% endblock %}

{% block body %}

<!-- MAIN CONTENT-->

                            <!-- START WHITE BACKGROUND-->
                                <div class="map-data m-b-40">
                                                          <h3 class="title-3 m-b-30">
                                                             <i class="fa-solid fa-file-invoice"></i><strong>Ajouter  </strong>Charge
                                                            </h3>
                                    <div class="card">
                                        <div class="card-body card-block">
                                            {{ include('charge/_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                                <!-- END WHITE BACKGROUND-->



    {% endblock %}
